.bg-home {
  background-image: url('./assets/home/background-home-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .bg-home {
    background-image: url('./assets/home/background-home-tablet.jpg');
  }
}

@media (min-width: 1024px) {
  .bg-home {
    background-image: url('./assets/home/background-home-desktop.jpg');
  }
}
