.bg-tech {
  background-image: url('./assets/technology/background-technology-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .bg-tech {
    background-image: url('./assets/technology/background-technology-tablet.jpg');
  }
}

@media (min-width: 1024px) {
  .bg-tech {
    background-image: url('./assets/technology/background-technology-desktop.jpg');
  }
}
